{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}


{% block content %}
    <h1 style="color: black; text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.65);  text-align:center; font-family:'Times New Roman'; "class="mt-5 pt-5"><strong>{{ content }}</strong></h1>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home 2023</p>
    </div>
</footer>

{% endblock %}
